body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
table, td
{
    border: 1px solid #021c42;
}
table td, th
{
    height: 20px;
    border: 1px solid black;
    font-size: 12px;
}
a {
    text-decoration: none;
    color: black;
    outline: none;
}
input {
    outline: none;
}

@media print {
    /* table,
    table tr td,
    table tr th {
        page-break-inside: avoid;
    } */

    thead {
        display: table-header-group;
    }

}

.red {
    color: red;
    text-decoration: underline;
}